<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="dashboard">

        <div class="card">
            <h2>🔍 Search Results for: {{ query|safe }}</h2>

            {% if results %}
            <ul>
                {% for user in results %}
                <li>Found user: <b>{{ user[0] }}</b></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No users found.</p>
            {% endif %}

            <br>
            <a href="/dashboard">⬅ Back</a>
        </div>

    </div>

</body>

</html>